{% load static %}
{% load crispy_forms_filters %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="favicon" href="{% static 'images/icons/traffic-light.png' %}" type="image/png" sizes="192x192" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/loginPage.css' %}">
    <!-- Text Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <title>Login System</title>
    {% include "App_Login/loginCSS.html" %}
    <style>
        body {
            background: url("{% static 'images/background_of_login_page.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.8;
            color: #ffffff !important;
        }

        .heading-1 {
            text-align: center;
            color: #000000;
            font-size: 24px;
        }

        .form-container{
            background: #000000;
            color: #ffffff;
        }

        .form-container label {
            color: #ffffff;
        }

        .form-container input {
            font-weight: bold;
        }
    </style>
  </head>
  <body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_15 padding-bottom-5-prcnt">
        <div class="fr_lr con-img">
        <div class="container-fluid ">
            <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center clearfix" style="height: auto;padding: 20px 0px">
                        <h1 class="heading-1 google_marcellus_SC">
                            <span> Digital Traffic Case Handling Protal</span>
                        </h1>
                    </div>
        <div class="col-sm-12 col-sm-12 col-xs-12 mb-5" style="margin-top: 40px; margin-bottom: 100px;">
            <div class="row ">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 form-container">
                    <form method="post">
                        {% csrf_token %}
                        <legend class="text-center">
                            <h2 class="heading-2 google_marcellus_SC" style="margin-bottom: 0;">
                                <span>
                                    Sign up
                                </span>
                            </h2>
                            <small style="font-size: 13px;">(You must have a driving licence)</small>
                        </legend>
                        {{ form|crispy }}
                        <div>
                            <label for="id-passwordShow" style="curson: pointer;">
                                <input type="checkbox" class="checkbox" id="id-passwordShow" onclick="showPassword()" >
                                <span class="checkbox-custom" id="passwordShowLabel"> Show Password </span>
                            </label>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <button type="submit" class="loginBtn google_marcellus_SC">Signup</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
            <!--== Show Left widget when screen is sm and xs-->
            <!--- -->
            </div>
        </div>
        <div class="container">
            <div class="text-center">
                <p>
                    I have registered. <a href="{% url 'App_Login:login' %}">Sign In</a>
                </p>
            </div>
            <div class="text-center">
                <p class="google_marcellus_SC">
                    <span>Copyright &copy; 2022</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script>
        const showPassword = () => {
            const password1 = document.getElementById('id_password1');
            const password2 = document.getElementById('id_password2');
            const passwordShowLabel = document.getElementById('passwordShowLabel');
            if (password1.type === 'password' && password2.type === 'password') {
                password1.type = 'text';
                password2.type = 'text';
                passwordShowLabel.innerHTML = 'Hide Password';
            } else {
                password1.type = 'password';
                password2.type = 'password';
                passwordShowLabel.innerHTML = 'Show Password';
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
     crossorigin="anonymous"></script>
  </body>
</html>