{% extends 'App_driver/basement.html' %}
{% block title %}
    Driver Dashboard
{% endblock %}
{% block main %}
    <style>  
        .young-passion-gradient {
            background-image: -webkit-gradient(linear,left top,right top,from(#ff8177),color-stop(0,#ff867a),color-stop(21%,#ff8c7f),color-stop(52%,#f99185),color-stop(78%,#cf556c),to(#b12a5b));
            background-image: linear-gradient(to right,#ff8177 0,#ff867a 0,#ff8c7f 21%,#f99185 52%,#cf556c 78%,#b12a5b 100%);
        }

        .tempting-azure-gradient {
            background-image: linear-gradient(120deg,#84fab0 0,#8fd3f4 100%);
        }

        .purple-gradient {
            background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
        }
    </style>
    <div class="container mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="young-passion-gradient card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                Case Notification
                            </h5>
                            <p class="card-text float-end text-white" style="font-size: 28px !important;">
                                2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tempting-azure-gradient card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                Warning
                            </h5>
                            <p class="card-text float-end text-dark" style="font-size: 28px !important;">
                                2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purple-gradient card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                Reserved Point
                            </h5>
                            <p class="card-text float-end text-white" style="font-size: 28px !important;">
                                2
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
dashboard.classList.add('active');
newCases.classList.remove('active');
myLicense.classList.remove('active');
licenseRenew.classList.remove('active');
trafficRules.classList.remove('active');
{% endblock script %}
